.container {

    margin-top: 20px;
    background-color: rgb(49, 182, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.info {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.image {
    margin: 50px;
    width: 435px;
    border-radius: 50px;
}

.containerInfo {
    background-color: rgba(0, 0, 155, 0.945);
    width: 500px;
    border-radius: 50px;
}